@tailwind base;
@tailwind components;
@tailwind utilities;

.GeneralBG
{
  background: rgb(2,74,102);
  background: linear-gradient(313deg, rgba(2,74,102,1) 0%, rgba(7,208,255,1) 59%, rgba(0,212,255,1) 100%);
}
.AddNew_Suggestion_Btn
{
  @apply bg-white rounded-[1.1rem] border-white border-x-[1rem] lgs:border-x-[5rem] border-y-[0.5rem] text-[20px] font-bold;
}
.HomeSetting
{
  @apply flex flex-col md:flex-row md:h-[750px] md:w-screen  translate-y-[60px] md:translate-y-[120px] md:justify-center gap-5 md:gap-5;
}
.SlideLeft{
  @apply fixed bg-slate-400 w-screen h-screen; 
  animation:  slideleft 0.3s linear;
  transition: 1s ease-in;
}
@keyframes slideleft{
  0%{
    opacity: 0;
    transform: translatex(600px);
    
  }
  100%{
    opacity: 100%;
    transform: translatex(0px);
  }
  
}

.SlideRight{
  @apply fixed bg-slate-400 w-screen h-screen; 
  animation:  slideRight 0.3s linear;
  transition: 1s ease-in;
}
@keyframes slideRight{
  0%{
    opacity: 0;
    transform: translatex(0px);
    
  }
  100%{
    opacity: 100%;
    transform: translatex(600px);
  }
  
}

.SlideUp{
  @apply fixed bg-slate-400 w-screen h-screen; 
  animation:  slideup 0.3s linear;
  transition: 2s ease-in;
}
@keyframes slideup{
  0%{
    opacity: 0%;
    transform: translatey(600px);
    
  }
  100%{
    opacity: 100%;
    transform: translatey(0px);
  }
  
}

.SlideLeftMenu
{
  animation:  slideleftmenu 0.4s linear;
  transition: 1s ease-in;
  transition-delay: 1.1s;
}

@keyframes slideleftmenu{
  0%{
    opacity: 0;
    transform: translatex(600px);
    
  }
  100%{
    opacity: 100%;
    transform: translatex(0px);
  }
}
  
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    
    color: black;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: white;

    
}



a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: white;
  }
  body {
    color: black;
    width: 100%;
    height: 100%;
    background: white;
  }

 
}


